body{
    #conciertos{
        .itinerario{
            display: flex;
        }
        .itinerario2{
            display: flex;
        }
        .itinerario3{
            display: flex;
        }
        .fecha{
        background-color: aqua;
        text-align: left;
        width: 50%;
        height: 50%;
        padding-left: 100px;
        margin: 30px;
        font-size: large;
        }
        .donde{
        background-color: aquamarine;
        text-align: right;
        width: 50%;
        height: 50%;
        padding-right: 100px;
        margin: 30px;
        font-size: larger;
        }
    }
}