body {
    #conciertos {
        .itinerario {
            display: flex;
        }

        .itinerario2 {
            display: flex;
        }

        .itinerario3 {
            display: flex;
        }

        .fecha {
            // background-color: aqua;
            text-align: left;
            @extend %form-conciertos;
            margin-left: 200px;
            padding-left: 200px;
        }

        .donde {
            // background-color: aquamarine;
            text-align: right;
            @extend %form-conciertos;
            margin-right: 200px;
            padding-right: 200px;
        }
    }
}