body {
    main {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .videos {
        width: fit-content;
        margin: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;

        iframe {
            width: 80vw;
            height: 60vw;
            max-width: 560px;
            max-height: 315px;
        }
    }

}