body{
    .videos{
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
    grid-template-columns:1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;
    }
}

/* mq desktop */
@media screen and (min-width: 1024px) {

    body .videos{
        flex-direction: row; 
    }
    }